name: Publish

on:
  release:
    types:
      - created

jobs:
  publish:
    name: Publish to VS Marketplace
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci
        
      - name: Install vsce
        run: npm install -g @vscode/vsce
        
      - name: Get Extension Version
        id: get-version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT
        
      - name: Package Extension VSIX
        run: vsce package
        
      - name: Upload VSIX to GitHub Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VSIX_NAME="folder-in-new-window-${{ steps.get-version.outputs.version }}.vsix"
          gh release upload "v${{ steps.get-version.outputs.version }}" "$VSIX_NAME" --clobber
        
      - name: Publish to VS Marketplace
        run: vsce publish -p ${{ secrets.VSCODE_MARKETPLACE_TOKEN }} --packagePath *.vsix
